*{
box-sizing:border-box;
font-family:Arial;
}

body{
margin:0;
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
transition:.3s;
}


.dark{
background:#0b0714;
color:white;
}


.light{
background:#f5f5f5;
color:#111;
}


.container{
width:90%;
max-width:500px;
}


.header{
display:flex;
justify-content:space-between;
align-items:center;
}


h1{
font-size:35px;
}


.card{
display:flex;
justify-content:space-between;
align-items:center;
margin:18px 0;
padding:20px;
border-radius:22px;
transition:.3s;
}


.dark .card{
background:#191326;
}


.light .card{
background:white;
box-shadow:0 10px 30px #0002;
}


h2{
margin:0;
}


p{
opacity:.7;
}


button{
border:0;
padding:10px 15px;
border-radius:15px;
cursor:pointer;
background:#7c3cff;
color:white;
}


button:hover{
transform:scale(1.05);
}


#msg{
text-align:center;
color:#7c3cff;
margin-top:15px;
font-weight:bold;
}
