*{
  box-sizing:border-box;
}

body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#111,#222);
  font-family:Arial, sans-serif;
}

.box{
  width:300px;
  padding:25px;
  text-align:center;
  background:#1e1e1e;
  border-radius:25px;
  box-shadow:0 0 25px #000;
}

h1{
  color:white;
  margin-bottom:25px;
}

a,button{
  display:block;
  width:100%;
  margin:12px 0;
  padding:15px;
  border-radius:15px;
  border:none;
  text-decoration:none;
  color:white;
  font-size:17px;
  background:#333;
}

a:hover,button:hover{
  transform:scale(1.05);
}

.open{
  background:#00c853;
}
